extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  if(role.permissions.includes("products_view"))
    h1.mb-4 Chi tiết sản phẩm

    .card.product-detail
      .card-body
        .row
          
          .col-md-4
            .image-box
              img.product-image(
                src=product.thumbnail || "/images/no-image.png"
                alt=product.title
              )

          
          .col-md-8
            h3.product-title #{product.title}

            p.text-muted !{product.description}

            hr

            .row.mb-2
              .col-6
                strong Giá:
              .col-6
                span.text-danger #{product.price}$

            .row.mb-2
              .col-6
                strong Giảm giá:
              .col-6
                span #{product.discountPercentage}%

            .row.mb-2
              .col-6
                strong Tồn kho:
              .col-6
                span #{product.stock}

            .row.mb-2
              .col-6
                strong Vị trí:
              .col-6
                span #{product.position}

            .row.mb-3
              .col-6
                strong Danh mục sản phẩm:
              .col-6
                if product.product_category_id && product.product_category_id.title
                  span.text-primary #{product.product_category_id.title} 
                else 
                  span.text-muted Không xác định

            .row.mb-3
              .col-6
                strong Người tạo:
              .col-6
                if product.createdBy && product.createdBy.account_id
                  span.text-primary #{product.createdBy.account_id.fullName} 
                  br
                  small.text-muted (#{new Date(product.createdBy.createdAt).toLocaleString("vi-VN")})
                else 
                  span.text-muted Không xác định

            .row.mb-3
              if(role.permissions.includes("products_edit"))
                .col-6
                  strong Trạng thái:
                .col-6
                  if product.status == "active"
                    a(
                      href="javascript:;"
                      data-status="active"
                      data-id=product._id
                      button-change-status
                      class="badge bg-success text-decoration-none"
                    ) Hoạt động
                  else
                    a(
                      href="javascript:;"
                      data-status="inactive"
                      data-id=product._id
                      button-change-status
                      class="badge bg-danger text-decoration-none"
                    ) Dừng hoạt động

            .row.mb-3
              .col-12
                strong Lịch sử cập nhật:
                if product.updatedBy && product.updatedBy.length > 0
                  //- Đảo ngược mảng để mới nhất lên đầu
                  - const history = [...product.updatedBy].reverse()
                  
                  table.table.table-sm.table-bordered.mt-2
                    thead.table-light
                      tr
                        th Thời gian
                        th Người cập nhật
                        th Id
                    tbody
                      each item in history
                        tr
                          td #{new Date(item.updatedAt).toLocaleString("vi-VN")}
                          td 
                            if item.account_id && item.account_id.fullName
                              | #{item.account_id.fullName}
                          td 
                            if item.account_id && item.account_id.fullName
                              | #{item.account_id.id}
                            else 
                              span.text-muted Không xác định
                else
                  p.text-muted.mt-2.fst-italic Chưa có lịch sử cập nhật.

            hr
            if(role.permissions.includes("products_edit"))
              a(
                href=`${prefixAdmin}/products/edit/${product._id}`
                class="btn btn-warning"
              ) Sửa

            a(
              href=`${prefixAdmin}/products`
              class="btn btn-secondary ms-2"
            ) Quay lại

    
    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    )

    script(src="/admin/js/product.js")
  else 
    h1 Bạn không có quyền truy cập