extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)  
  +alert-error(5000)

  .container.my-3.cyber-wrapper.rounded-5 

    .row 
      .col-12
        +box-head("Danh sách phòng chat")


    each room in listRoomChat
      .col-6
        div(class="box-room")
          div(class="inner-avatar")
            img(
              src=room.avatar ? room.avatar : "/images/group-chat-default.png"
              alt=room.title
            )
          div(class="inner-info")
            div(class="inner-name") #{room.title}
            div(class="inner-buttons")
              a(
                href=`/chat/${room.id}`
                class="btn btn-sm btn-primary mr-1"
              ) Nhắn tin