include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/file.svg", alt="Logo")

      .col-4
        form(action="/search" method="GET")
          .input-group
            input.form-control(
              type="text"
              placeholder="Nhập từ khóa..."
              name="keyword"
              value=keyword
            )
            button.btn.btn-info(type="submit") Tìm kiếm
            
      .col-5
        .inner-menu
          ul 
            li
              a(
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="/"
              ) Trang chủ
              

            li(class="sub-menu")
              - const pathProduct = "/products"; 
              a(
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="/products"
              ) Sản phẩm
              +sub-menu(layoutProductsCategory, pathProduct)
            
            li(class="sub-menu")
              - const pathArticles = "/articles"; 
              a(
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="/articles"
              ) Bài viết
              +sub-menu(layoutArticlesCategory, pathArticles)

            li

              a(
                class="position-relative d-inline-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark mt-1"
                href="/cart"
                title="Giỏ hàng"
              )
                i.fa-solid.fa-cart-shopping.fs-5

                span.position-absolute.top-5.start-100.translate-middle.badge.rounded-pill.bg-danger(
                  style="font-size: 10px; padding: 3px 5px;"
                ) #{miniCart ? miniCart.totalQuantity : "0"}
            li
              a(
                class="d-inline-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark mt-1"
                href="/orders"
                title="Đơn hàng của tôi"
              )
                i.fa-solid.fa-clipboard-list.fs-5
              
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")