extend ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main 

  +alert-success(5000)
  +alert-error(5000)
  
  if(role.permissions.includes("roles_view"))
    h1 Nhóm quyền
    .card.mb-3
      .card-header Danh sách nhóm quyền
        .card-body
          .row 
            .col-8
            .col-4.text-end
              if(role.permissions.includes("roles_create"))
                a(
                  href=`${prefixAdmin}/roles/create`
                  class="btn btn-outline-success"
                ) + Thêm mới


      table(
        class="table table-hover table-sm"
      )
        thead
          tr
            th STT 
            th Nhóm quyền 
            th Mô tả ngắn
            th Người tạo
            th Cập nhật
            th Hành động

        tbody 
          if(records.length > 0)
            each item, index in records
              tr
                td #{index+ 1}
                td #{item.title}
                td #{item.description}
                td 
                  if item.createdBy && item.createdBy.account_id
                    p #{item.createdBy.account_id.fullName}
                    p 
                      +formatDate(item.createdBy.createdAt)
                td 
                  -const updatedHistory = item.updatedBy.slice(-1)[0]
                  if updatedHistory && updatedHistory.account_id
                    p #{updatedHistory.account_id.fullName}
                    p 
                      +formatDateTime(updatedHistory.updatedAt)
                td 
                  a(
                    class="btn btn-outline-primary btn-sm me-1 glow-btn"
                    href=`${prefixAdmin}/roles/detail/${item.id}`
                  ) 
                    i.bi.bi-eye-fill
                  if(role.permissions.includes("roles_edit"))
                    a(
                      href=`${prefixAdmin}/roles/edit/${item.id}`
                      class="btn btn-outline-warning btn-sm me-1 glow-btn"
                    ) 
                      i.bi.bi-pencil-square
                  if(role.permissions.includes("roles_delete"))
                    button(
                      class="btn btn-outline-danger btn-sm m-0 glow-btn"
                      data-id=item.id
                      button-delete
                    ) 
                      i.bi.bi-trash-fill
          else 
            tr
              td(colspan='4' class='text-center') Chưa có nhóm quyền nào được tạo
    
    if(role.permissions.includes("roles_delete"))
      form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/roles/delete`
      ) 

    script(src="/admin/js/role.js") 
  else 
    h1 Bạn không có quyền truy cập