extend ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main 

  +alert-success(5000)
  +alert-error(5000)

  //- Đổi quyền check từ articles sang orders
  if(role.permissions.includes("orders_view"))    
    h1 Danh sách đơn hàng 

    .card.mb-3
      .card-header Bộ lọc và tìm kiếm
      .card-body
        .row 
          .col-6
            +filter-status-select(filterStatus)
          .col-6 
            +form-search(keyword)
              
    .card.mb-3
      .card-header Sắp xếp
        .card-body
          .row 
            .col-4
              +sort-order()

    .card.mb-3
      .card-header Danh sách đơn hàng
        .card-body
          .row 
            .col-8
              if(role.permissions.includes("orders_edit"))
                +form-change-multi-order(`${prefixAdmin}/orders/change-multi?_method=PATCH`)

          table(
            class="table table-hover table-sm"
            checkbox-multi
          )
            thead
              tr
                th 
                  input(type="checkbox" name="checkall")
                th STT 
                th Mã đơn hàng
                th Thông tin khách hàng
                if(role.permissions.includes("orders_edit"))
                  th Trạng thái
                th Ngày đặt
                th Hành động

            tbody 
              each item, index in records
                tr
                  td
                    input(
                      type="checkbox" 
                      name="id"
                      value=item.id
                    ) 
                  td #{pagination.limitItems * (pagination.currentPage - 1) + (index+ 1)}
                  td 
                    b.text-primary #{item.id}
                  td 
                    p Họ tên: <b>#{item.user_info.fullName}</b>
                    p SĐT: <b>#{item.user_info.phone}</b>
                  
                  //- Menu dropdown trạng thái
                  if(role.permissions.includes("orders_edit"))
                    td
                      select(
                        class="form-select form-select-sm"
                        data-id=item.id
                        button-change-status-select 
                        style="width: 170px;"
                      )
                        option(value="pending" selected=(item.status == "pending")) Chờ xử lý
                        option(value="processing" selected=(item.status == "processing")) Đang xử lý/Đóng gói
                        option(value="shipped" selected=(item.status == "shipped")) Đã giao vận chuyển
                        option(value="delivered" selected=(item.status == "delivered")) Đã giao hàng
                        option(value="cancelled" selected=(item.status == "cancelled")) Đã hủy
                        option(value="returned" selected=(item.status == "returned")) Đã trả hàng

                  td 
                    +formatDateTime(item.createdAt)
                    
                  td 
                    a(
                      href=`${prefixAdmin}/orders/detail/${item.id}`
                      class="btn btn-secondary btn-sm ms-1 mb-1"
                    ) Chi tiết
                    if(role.permissions.includes("orders_delete"))
                      button(
                        class="btn btn-danger btn-sm ms-1 mb-1"
                        data-id=item.id
                        button-delete
                      ) Xóa

    +pagination(pagination)
    
    if(role.permissions.includes("orders_edit"))
      form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/orders/change-status`
      ) 
      
    if(role.permissions.includes("orders_delete"))
      form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/orders/delete`
      ) 

    script(src="/admin/js/order.js") 
  else 
    h1 Bạn không có quyền truy cập