extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)  
  +alert-error(5000)

  .container.my-3.cyber-wrapper.rounded-5 
    .row 
      .col-12
        +box-head("Chat")

    .row 
      .col-12 
        .chat(my-id=user.id)
          .inner-body
            each chat in chats
              div(class=(chat.user_id.id == user.id) ? "inner-outgoing" :"inner-incoming")
                if chat.user_id.id != user.id
                  .inner-name #{chat.user_id.fullName}
                .inner-content
                  | #{chat.content}

          .inner-foot
            form.inner-form(action="" method="post")
              
              .input-wrapper
                input(
                  type="text" 
                  placeholder="Nhập tin nhắn..." 
                  name="content" 
                  autocomplete="off" 
                )
                span.button-icon
                  i.fa-regular.fa-face-smile 
              
              button(type="submit")
                i.fas.fa-paper-plane
                | Gửi
  
  div(class="tooltip" role="tooltip")
    emoji-picker