extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)  
  +alert-error(5000)

  .container.my-3.cyber-wrapper.rounded-5.chat-page
    
    include ../../partials/list-btn-user.pug

    .row.mb-3
      .col-12
        +box-head("Chat")

    .row 
      .col-12 
        .chat(my-id=user.id my-full-name=user.fullName room-chat-id=roomChatId)
          .inner-body
            if chats.length
              each chat in chats
                div(class=(chat.user_id.id == user.id) ? "inner-outgoing" :"inner-incoming")
                  if chat.user_id.id != user.id
                    .inner-name #{chat.user_id.fullName}
                  if (chat.content)
                    .inner-content
                      | #{chat.content}
                  if (chat.images)
                    .inner-images
                      each image in chat.images
                        img(src=image)
            else
              .chat-empty Chưa có tin nhắn nào. Hãy bắt đầu cuộc trò chuyện.
            div(class="inner-list-typing")
          .inner-preview-images
            div(class="custom-file-container" data-upload-id="upload-images")


          .inner-foot
            form.inner-form(action="" method="post")
              .input-wrapper
                textarea( 
                  placeholder="Nhập tin nhắn..." 
                  name="content" 
                  autocomplete="off" 
                )
                span.button-icon
                  i.fa-regular.fa-face-smile 
                label.button-icon(for="file-upload-with-preview-upload-images")   
                  i.fa-regular.fa-image 

              button.btn-chat-submit(type="submit")
                i.fas.fa-paper-plane
                | Gửi
  
  div(class="tooltip" role="tooltip")
    emoji-picker
block script
  script(type="module" src="/js/chat.js")