extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)  
  +alert-error(5000)

  .container.mb-5
   
    .row.mb-3.mt-3
      .col-12
        a.btn.btn-sm.btn-outline-secondary(href="javascript:history.back()") 
          | ← Quay lại
          
    .row
      .col-12
        +box-head("Giỏ hàng của bạn")

    if cart.products.length > 0
      .row 
        //- ==========================================
        //- CỘT TRÁI: BẢNG SẢN PHẨM
        //- ==========================================
        .col-lg-9.mb-4
          .table-responsive
            table.table.table-bordered(checkbox-multi)
              thead.table-light
                tr
                  th.text-center
                    input(type="checkbox" name="checkall")
                  th STT
                  th Ảnh
                  th Tên sản phẩm
                  th Giá
                  th Số lượng
                  th Thành tiền
                  th Hành động

              tbody
                each item, index in cart.products.slice().reverse()
                  tr.align-middle 
                    td.text-center
                      input(
                        type="checkbox" 
                        name="id" 
                        value=item.product_id._id
                        data-price=item.totalPrice 
                      )
                    td #{index + 1}
                    td 
                      img.cart-img-thumbnail(
                        src=item.product_id.thumbnail, 
                        alt=item.product_id.title
                      )
                    td 
                      a.text-decoration-none.fw-bold.text-dark(href=`/products/detail/${item.product_id.slug}`) #{item.product_id.title}
                    td #{item.product_id.newPrice} $
                    td 
                      input.form-control.cart-quantity-input(
                        type="number"
                        name="quantity" 
                        value=item.quantity
                        min="1"
                        product-id=item.product_id._id
                      )
                    td.fw-bold.text-danger #{item.totalPrice} $
                    td 
                      a.btn.btn-outline-danger.btn-sm(href=`/cart/delete/${item.product_id._id}`) Xóa

        //- ==========================================
        //- CỘT PHẢI: THANH TOÁN
        //- ==========================================
        .col-lg-3
          .card.border-0.shadow-sm.sticky-checkout-card
            .card-body
              h5.card-title.fw-bold.border-bottom.pb-3.mb-3 Tóm tắt đơn hàng
              
              .d-flex.justify-content-between.align-items-center.mb-4
                span.text-muted Tổng tiền chọn:
                span#total-price-selected.text-danger.fw-bold.fs-4 0 $
              
              a.btn.btn-success.w-100.btn-lg(href="/checkout") 
                i.fa-solid.fa-credit-card.me-2
                | Thanh toán ngay

    //- Nếu giỏ hàng trống
    else
      .row
        .col-12.text-center.py-5
          h3.text-muted Giỏ hàng của bạn đang trống.
          a.btn.btn-primary.mt-3(href="/products") 
            i.fa-solid.fa-cart-plus.me-2
            | Tiếp tục mua sắm


  script(src="js/cart.js")