extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)  
  +alert-error(5000)

  .container
   
    .row.mb-3.mt-3
      .col-12
        a.btn.btn-sm.btn-outline-secondary(href="javascript:history.back()") 
          | ← Quay lại
    .row
      .col-12
        +box-head("Giỏ hàng của bạn")


    .row 
      .col-12 
        table.table.table-bordered
          thead
            tr
              th STT
              th Ảnh
              th Tên sản phẩm
              th Giá
              th Số lượng
              th Thành tiền
              th Hành động

          tbody
            if cart.products.length > 0
              .row
                each item, index in cart.products
                  tr 
                    td #{index + 1}
                    td 
                      img(
                        src=item.product_id.thumbnail, 
                        alt=item.product_id.title, 
                        style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;"   
                      )
                    td 
                      a(href=`/products/detail/${item.product_id.slug}`) #{item.product_id.title}
                    td #{item.product_id.newPrice} $
                    td 
                      input.form-control(
                        type="number"
                        name="quantity" 
                        value=item.quantity
                        min="1"
                        product-id=item.product_id._id
                        style="width: 80px;"
                      )
                    td #{item.totalPrice} $
                    td 
                      a.btn.btn-danger.btn-sm(href=`/cart/delete/${item.product_id._id}`) Xóa

              h3.text-end Tổng tiền: #{cart.totalPrice} $

              div.text-end.mt-3
                a.btn.btn-success.mb-1(href="/checkout") Thanh toán          
            else
              .row
                .col-12.text-center.py-5
                  h3 Giỏ hàng của bạn đang trống.
                  a.btn.btn-primary.mt-3(href="/products") Tiếp tục mua sắm

  script(src="js/cart.js") 